img{
    max-width: 150px;
}



.name{
    font-size: .5rem;
    color: gray;
}

.message-text{
    margin: 0;
}

.message{
    margin: 1rem;
    border-left: 3px solid lightgray;
    padding-left: .5rem;
}


/* Join Section */
.join-page{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.join-page section{
    display: flex;
    flex-direction: column;

    width: 45%;
    min-width: 350px;
    margin-bottom: 5rem; /*so that if a section comes after, It can have some space*/
}

/* RandomPhotoRadio */

div.dp-radio{
    margin-left: 2rem;
}

/* radio-card */
.radio-card{
    --photo-radio-size:75px;


    width: var(--photo-radio-size);
    height:var(--photo-radio-size);
}
.radio-card img{
    width: var(--photo-radio-size);
    height: var(--photo-radio-size);
}

.radio-card-selected{
    border: 2px solid lightskyblue;
}


/* fab join */
.App .fab-join{
    position: sticky;
    bottom: 10px;
    left: 100%;
}