* {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  text-align: center;
  margin: auto;
  margin-top: 4rem;
  padding: 2rem 4rem;
  border: 1px solid gray;
  border-radius: 16px;

  width: fit-content;

  label {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;

    img {
      width: 4rem;
      border-radius: 4px;
      border: 1px solid gray;
    }

    &.photo-radio {
      border: 2px solid gray;
      border-radius: 8px;
      padding: 4px;
      margin: 4px;
    }
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    margin: 4px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
  }
  input[type="radio"] {
    display: none;
    &:checked + label {
      border-color: blue;
    }
  }
  button[type="submit"] {
    background-color: transparent;
    border: none;
    font-size: large;
    /* color: gray; */
    margin-top: 4rem;
    font-weight: bold;
  }

  .label-input-grp {
    text-align: start;
    margin-bottom: 1rem;
  }
  .label-radio-grp {
    display: flex;
    align-items: center;
  }
  .radio-group {
    display: flex;
  }
}
